* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Sans-serif;
}

#game {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

#game canvas {
  border-radius: 5px;
}

#scores {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}